/*Global Styles*/

$fontStack: 'Helvética', Arial, Sans-Serif;
$primaryColor: #00adef;
$primaryClickColor: #049ad4;
$primaryTextColor: white;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
}

.btn {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 100px;
    color: $primaryTextColor;
    display: inline-block;
    outline: none !important;
    text-decoration: none;
    border: 1px solid transparent;
    &.primary {
        border-color: $primaryColor;
        background: $primaryColor;
        &:active {
            background-color: $primaryClickColor;
        }
    }

    &.flat {
        background-color: transparent;
        &:active {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

/* Components Styles */

/*Header*/

$textColor: white;

@mixin headerGradient {
    background: #3b055d;
    background: -moz-linear-gradient(#3b055d, #430f85);
    background: -webkit-linear-gradient(#3b055d, #430f85);
    background: linear-gradient(#3b055d, #430f85);
    background-repeat: no-repeat;
}

@mixin headerImg {
}

.header {
    @include headerGradient();
    min-width: 100%;
    grid-template-areas: 'logo navbar' 'logo bgHeader';

    .bgHeader {
        background: url('/img/fondoheader.png');
        background-repeat: no-repeat;
        grid-area: bgHeader;
        background-position: center;
        background-size: contain;
    }

    .logoAndText {
        grid-area: logo;
        .header-text {
            color: $textColor;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
            .btn {
                margin: 35px 10px;
            }
        }
    }
    .navbar {
        font-size: 15px;
        max-height: 100px;
        flex-flow: row wrap;
        max-height: 100px;
        justify-content: space-evenly;
        display: flex;
        list-style: none;
        .navbar-item {
            padding-bottom: 20px;
            max-height: 20px;
            &.active {
                border-bottom: 1px solid $primaryColor;
                a {
                    color: $primaryColor;
                }
            }
            a {
                text-decoration: none;
                color: $textColor;
            }
        }
    }
}
